.article-container {
    margin: 50px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 10px 30px;
    text-align: center; 
}

.article-container input,
.article-container textarea {
    width: 500px;
    height: 30px;
    display: block;
    margin: 0 auto; 
    border: 2px solid rgb(140, 161, 91);
}

.article-container textarea{
    height: 100px;
}
